<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ ArticleTitle }}</title>
  <meta name="author" content="{{ ArticleAuthor }}">
  <meta name="description" content="{{ ArticleTitle }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/../static/css/dark.css" rel="stylesheet" id="themecss">
</head>

<body>
    {{ ArticleHTML | safe }}

    <div class="popout" onclick="lights()">
        <div class="btn">
            <img src="/static/image/theme.png">
        </div>
    </div>
</body>
<script>
    var darkness = true;
    function lights(){
        if (darkness){
            document.getElementById("themecss").href="/../static/css/light.css";
            darkness = false;
        }
        else {
            document.getElementById("themecss").href="/../static/css/dark.css";
            darkness = true;
        }
    }

</script>
</html>
